.spinner-background {
  background-color: #fcefa7;
}

.spinner-loading-info {
  font: optional;
  font-size: large;
  font-family: "Homer Simpson Revised", sans-serif;
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
