.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

.item {
  min-height: 200px;
  background-color: #eee;
}

.grid-padding {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 5%;
}

.background {
  background-color: #fcefa7;
}
