.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  padding: 60px;
  text-shadow: -6px -6px 0 #000, 6px -6px 0 #000, -6px 6px 0 #000,
    6px 6px 0 #000;
  font-family: "Homer Simpson Revised", sans-serif;
  color: yellow;
  font-size: 8em;
}
